@inherits StatiqRazorPage<IDocument>

<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        Copyrights &copy; @DateTime.Now.Year @Html.Raw(Metadata["author2"]) - @Html.Raw(Metadata["subtitle"]). All Rights Reserved.
    </span>
</footer>

