@inherits StatiqRazorPage<IDocument>
@{
    var sidebarBehavior = Global.SidebarBehavior;
    
    var post = Document.AsBlogPost();
    if (post.IsPost)
    {
        sidebarBehavior += 3;
    }
    
    var sidebarBehaviorData = new ViewDataDictionary(ViewData)
    {
        { "sidebarBehavior", sidebarBehavior }
    };
}

<!DOCTYPE html>
<html lang="@Metadata["language"]">
@await Html.PartialAsync("_partial/head.cshtml", Document)

<body>
<div id="blog">
    @await Html.PartialAsync("_partial/header.cshtml", Document, sidebarBehaviorData)
    @await Html.PartialAsync("_partial/sidebar.cshtml", Document, sidebarBehaviorData)
    @await Html.PartialAsync("_partial/post/header-cover.cshtml", Document, sidebarBehaviorData)
    <div id="main"
         data-behavior="@Global.SidebarBehavior"
         class="hasCoverMetaIn" @* TODO add logic *@>
        @RenderBody()
        @await Html.PartialAsync("_partial/footer.cshtml", Document)
    </div>

    @await Html.PartialAsync("_partial/cover.cshtml", Document)
    @await Html.PartialAsync("_partial/script.cshtml", Document)
</div> 
</body>
</html>