@using Blog.Statiq.Helpers
@inherits StatiqRazorPage<IDocument>

<h1>Translations</h1>

<div>Date Format: @(this.Translate("date_format"))</div>
<div>Content: @(this.Translate("pagination.page"))</div>

