@inherits MyStatiqRazorPage<IDocument>
@{
    var post = Document.AsBlogPost();
    
    var viewData = new ViewDataDictionary(ViewData)
    {
        { "classes", "post-meta" }
    };

}

<div class="post-header main-content-wrap @post.MetaAlignment">
    @* TODO  <% if (post.link) { %> *@
    <h1 class="post-title">
        @post.Title
    </h1>

    @if (post.Meta)
    {
        @await Html.PartialAsync("meta.cshtml", viewData)
    }
</div>