@inherits MyStatiqRazorPage<IDocument>
@{
    Layout = @"../_layout.cshtml";

    var presentation = Document.AsPresentation();
}

<article class="post">
    @await Html.PartialAsync("../_partial/post/header.cshtml")

    <div class="post-content markdown">
        <div class="main-content-wrap">

            @RenderBody()

        </div>
    </div>
    
    <div id="post-footer" class="post-footer main-content-wrap">
        @if (presentation.Tags.Any())
        {
            <div class="post-footer-tags">
                <span class="text-color-light text-small">@Localization.Get("post.tagged_in")</span><br/>
                @await Html.PartialAsync("../_partial/post/tag.cshtml", presentation.Tags)
            </div>
        }
        @* TODO
        <% if (post.actions === undefined || post.actions) { %>
            <%- partial('post/actions', {postContent: postContent}) %>
        <% } %>
        <% if (post.comments) { %>
            <% if (theme.disqus_shortname) { %>
                <%- partial('post/disqus') %>
            <% } else if (theme.gitment.enable) { %>
                <%- partial('post/gitment') %>
            <% } else if (theme.gitalk.enable) { %>
                <%- partial('post/gitalk') %>
            <% } %>
        <% } %>
    *@
    </div>
</article>