@inherits MyStatiqRazorPage<IDocument>

<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        Copyrights &copy; @DateTime.Now.Year @Html.Raw(Metadata["author2"]) - @Html.Raw(Metadata["subtitle"]). All Rights Reserved.
    </span>
    <p>Built with <a href="https://www.statiq.dev/" target="_blank" rel="noopener">Statiq</a> - Original theme <a href="https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak" target="_blank" rel="noopener">LouisBarranqueiro/hexo-theme-tranquilpeak</a></p>
</footer>
