@inherits MyStatiqRazorPage<IDocument>

<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="@Html.Raw(Metadata["author2"])">
    <title>@Document.GetTitle()</title>
    <meta name="author" content="@Html.Raw(Metadata["author2"])">

    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.11/plyr.css"/>
    <link rel="stylesheet" href="/assets/styles.css"/>
    <link rel="stylesheet" href="/assets/css/style.min.css">
</head>